name: Log latest release
on:
  push:


jobs:
  logLatestRelease:
    runs-on: ubuntu-latest
    steps:
      - uses: octokit/request-action@v2.x
        id: get_latest_release
        with:
          route: GET /repos/:owner/:repository
          owner: backstage-test-kim
          repository: ${{ github.repository }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: "echo tags: ${{ steps.get_latest_release.outputs.data.topics }}"
      - run: "echo description: ${{ steps.get_latest_release.outputs.data.description }}"

