name: Log latest release v1
"on":
  push:

    

jobs:
  job1:
    runs-on: ubuntu-latest
    outputs:
      filenames: ${{ steps.set-matrix.outputs.filenames }}
    steps:
    - name: Checkout harness repo
      uses: actions/checkout@v2
      with:
         path: yellow-team-repo
    - id: set-matrix
      name: get folder name
      shell: bash
      run: |
          declare -a arrPics
          DIR=yellow-team-repo
          for file in $(find ${DIR}/docs/* -type d -maxdepth 0 -exec basename {} \; ); do
                arrPics=(${arrPics[@]} "$file")
          done
          JSON="{\"tfpaths\":["

          # Loop by lines
          while read path; do
          # Add item to the matrix only if it is not already included
          JSONline="\"$path\","
          if [[ "$JSON" != *"$JSONline"* ]]; then
          JSON="$JSON$JSONline"
          fi
          done <<< "$DIFF"
          echo "::set-output name=filenames::$( echo "$JSON" )"
          echo $JSON
  job2:
    runs-on: ubuntu-latest
    needs: job1
    strategy:
      matrix: 
        filenames: ${{fromJSON(needs.job1.outputs.filenames)}}
    steps:
      - uses: actions/checkout@v2

      - name: test
        run: echo ${{ matrix.tfpaths }}
    
