name: Log latest release
on:
  push:


jobs:
  logLatestRelease:
    runs-on: ubuntu-latest
    steps:
#       - uses: octokit/request-action@v2.x
#         id: get_latest_release
#         with:
#           route: GET /repos/{repo}
#           repo: ${{ github.repository }}
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - id: get_tag
        run: |
         data=$(curl \
         -H 'Authorization: token ${{ secrets.GITHUB_TOKEN }}' -H "Accept: application/vnd.github.v3+json" \
         ${GITHUB_API_URL}/repos/${GITHUB_REPOSITORY})
         topics=($data| jq -r '.topics | join(",")')
         des=($data| jq '.description')
         echo "::set-output name=tag::$topics"
         echo "::set-output name=description::$des"

         
      - run: "echo description: ${{ steps.get_tag.outputs.description }}"
      - run: "echo tags: ${{ steps.get_tag.outputs.tag }}"

