name: Log latest release v1
"on":
  push:

    

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
      with:
         path: yellow-team-repo
    - id: set-matrix
      name: get folder name
      shell: bash
      env: 
        BRANCH_NAME: hello
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
          DEPLOYMENTS_DIR=yellow-team-repo
          set -x
          for valuestream in $(find ${DEPLOYMENTS_DIR}/docs/* -type d -maxdepth 0 -exec basename {} \; ); do
              echo "This is some text" > randomtext.txt
              cp -v randomtext.txt "${DEPLOYMENTS_DIR}/docs/$valuestream"

              echo "Syncing configuration for valuestream: $valuestream"

              for dirpath in $(find "${DEPLOYMENTS_DIR}/${valuestream}" -type d -mindepth 1 -maxdepth 1 >/dev/null); do
                echo "Syncing directory: $dirpath (valuestream: $valuestream)"
              done
              echo "$PWD"
              cd ${DEPLOYMENTS_DIR} || exit 1
              git config user.name github-actions
              git config user.email github-actions@github.com
              git checkout -B "${valuestream}-${{ github.run_id }}-${{ github.run_number }}"
              git add .
              if git diff --cached --exit-code
                then
                echo "nothing to commit. Pipeline is already up to date"
                cd ..
                continue
              fi
              git branch --show-current
              git commit -m  "initial"
              git push --set-upstream origin  "${{ env.BRANCH_NAME }}-${{ github.run_id }}-${{ github.run_number }}" -f
              gh pr create -l automerge -l Autogenerated --title "Sync" \
               --body "*An automated PR*"
              cd ..
              git checkout main
          done

    
