name: Log latest release
on:
  pull_request:


jobs:
  logLatestRelease:
    runs-on: ubuntu-latest
    steps:
    - name: chekcout
      uses: actions/checkout@v2
    - name: test
      run: |
       hub pr show -f %l "1" | grep -i 'fail' && exit 1
    - if: ${{ failure() }}
      uses: peter-evans/create-or-update-comment@v1
      with:
        issue-number: ${{ github.event.pull_request.number }}
        body: |
          test
        reactions: eyes
