name: Log latest release
on:
  push:


jobs:
  logLatestRelease:
    runs-on: ubuntu-latest
    steps:
      - uses: octokit/request-action@v2.x
        id: get_latest_release
        with:
          route: GET /repos/{repo}
          repo: ${{ github.repository }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - id: get_tag
        run: |
         TAG=$(curl \
         -H 'Authorization: token ${{ secrets.GITHUB_TOKEN }}' -H "Accept: application/vnd.github.mercy-preview+json" \
         ${GITHUB_API_URL}/repos/${GITHUB_REPOSITORY}/topics)
         echo $TAG
         echo "::set-output name=tag::$TAG"

         
      - run: "echo description: ${{ fromJson(steps.get_latest_release.outputs.data).description }}"
      - run: "echo description: ${{ steps.get_tag.outputs.tag }}"

